@import url('https://fonts.googleapis.com/css2?family=Merriweather');

/* General styles */

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    
}

body {
    font-family: "Merriweather", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: #273EA3;
}

/* Header */
.container-header {
    margin: 2.1rem;
}   

.container-header a {
    color: #2C41A3;
    text-decoration: none;
}

.container-header h2 {
    font-size: 3rem;
}

/* Navbar */
.navbar-collapse {
    justify-content: center;
}

.navbar {
background-color:#49ADD6;
 }

.nav-item a {
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: #FFFFFF; 
    padding: 1rem 2.5rem;
    text-decoration: none;
} 

.nav-item a:hover {
  color: #273EA3;
  text-decoration: none;
}


 /* Jumbotron */
 .jumbotron {
    background-image: url(../images/poprad_original1.jpg);
    background-repeat: no-repeat;   
    background-size: cover;
    height: 75vh;    
 }

 .container-jumbotron {
    color: #FFFFFF;  
    margin-top: 6rem;    
 }
 /* Styled the font as default boothstrap jumbotrone is h1 */
h2.display-4 {
    font-size: 3rem;
    font-weight: 200
}

p.lead {
    margin-top: 1.25rem;
}

/* About Poprad */

.cover-about {
    padding: 2rem 5rem;
 }

/* Map section */

#mymap {
    min-height: 500px;
    margin: 3rem;
}

#pac-input {
    border:2.5px ridge #273EA3; 
}

#legend {
    background:#F5FFFA;
    border: 2px solid  #273EA3;
    color: #273EA3;
    font-size: 1rem;
    padding: 10px;
    text-align: left;
    margin: 15px;
}

/* Recommended activities */

.activities-heading p {
    margin-bottom: 2rem;
}

#recomendations {
    margin: 3rem;
}

.card-body h5 {
    font-weight: 500;
}

.card-text {
    display: none;
}

/* Footer */ 

.footer {
    background-color: #49ADD6;
    color: #273EA3;
    min-height: 8.2rem;
    padding-top: 15px;
}

.newsletter-wrapper,
.socialmedia-wrapper,
.contact-wrapper  {
    padding-top: 1rem;
}

.newsletter-wrapper {
    padding-left: 3rem;
}


input[type="email"].newsfield {
    width: 18.5rem;
}

.socialmedia-wrapper,
.contact-wrapper {              
    text-align: center;
}

.social-links li a i {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.7rem 0;
    border-radius: 50%;
    font-size: 1.25rem;
    text-align: center;
    color: #FFFFFF;
    background:#273EA3;
    margin-top: 1rem;
    -webkit-transition: 0.25s; 
    -o-transition: 0.25s;
    /*transition: 0.25s;*/
 } 

 .social-links li a i:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
 }

/* Back To Top Button */ 
 #toTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px; 
    z-index: 99; 
    color: #f8f8ff;
    background-color: #273EA3;
    border: none;
    border-radius: 50%;
    font-size: 25px;
    padding: 5px 10px;
}
